<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ContractedFarming.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".Admin.Dashboard.Farmer.FarmerProfile.Profile.FarmerPlant.AdminFarmerPlantActivity"
            android:exported="false"/>

        <activity
            android:name=".Admin.AdminProfile.AdminProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Farmer.Chat.ChatHelper.FarmerSpecificChatActivity"
            android:exported="false" />
        <activity
            android:name=".Farmer.Chat.ChatHelper.FarmerSearchUserActivity"
            android:exported="false" />
        <activity
            android:name=".Farmer.Chat.FarmerChatActivity"
            android:exported="false" />
        <activity android:name=".Farmer.Dashboard.ExplorePlants.PlantAddition.FarmerSelectFarmActivity" />
        <activity
            android:name=".Farmer.Dashboard.ExplorePlants.PlantAddition.FarmerExplorePlantsActivity"
            android:exported="false" />
        <activity
            android:name=".NewFarmer.AddPlotActivity"
            android:exported="false" />
        <activity
            android:name=".NewFarmer.NewFarmerApprovalWaitActivity"
            android:exported="false" />
        <activity
            android:name=".NewFarmer.NewFarmerUploadActivity"
            android:exported="false" />
        <activity
            android:name=".Farmer.News.FarmerNewsActivity"
            android:exported="false" />
        <activity
            android:name=".Farmer.ConferenceAndWorkShop.FarmerCandWActivity"
            android:exported="false" />
        <activity
            android:name=".Farmer.Notification.FarmerNotificationActivity"
            android:exported="false" />
        <activity android:name=".Farmer.Dashboard.FarmerDashboardActivity" />
        <activity android:name=".Admin.Chat.AdminMessageActivity" />
        <activity android:name=".Admin.Chat.AdminSpecificChat.AdminSpecificChatActivity" />
        <activity android:name=".Admin.Notification.AdminNotificationActivity" />
        <activity android:name=".Admin.Dashboard.Manager.ManagerProfile.AdminManagerControlActivity" />
        <activity android:name=".Admin.Dashboard.Farmer.FarmerProfile.FarmerControlActivity" />
        <activity android:name=".Admin.Dashboard.Farmer.FarmerProfile.Profile.FarmerProfileActivity" />
        <activity android:name=".Admin.Dashboard.Manager.ManagerProfile.Profile.ManagerProfileActivity" />
        <activity
            android:name=".Manager.Dashboard.ManagerDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".NewManager.ManagerApprovalWaitActivity"
            android:exported="false" />
        <activity
            android:name=".NewManager.NewManagerUploadActivity"
            android:exported="false" />
        <activity
            android:name=".Login.UserDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.Dashboard.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.Requests.AdminRequestActivity"
            android:exported="false" />
        <activity
            android:name=".Login.SetProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.ContractedFarming.Login" />
        <activity
            android:name=".Anonymous.AnonymousActivity"
            android:exported="false" />
        <activity
            android:name=".Login.OTPAuthenticationActivity"
            android:exported="false"
            android:theme="@style/Theme.ContractedFarming.Login" />
        <activity
            android:name=".Login.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.ContractedFarming.Login" />
        <activity
            android:name=".AppInfo.AppInfoActivity"
            android:exported="false"
            android:theme="@style/Theme.ContractedFarming.SplashScreen" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ContractedFarming.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>